<!doctype html>
<html lang="ru" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Даб 1</title>
	<script src="js/vue.js" defer></script>
	<script src="js/main.js" defer></script>
	<style>
		.field{
			display: inline-block;
			width: 30px;
			height: 30px;
			margin: 0;
			border: 1px solid black;
			text-align: center;
		}
		.player1{
			color: blue;
		}
		.player2{
			color: green;
		}
	</style>
</head>
<body>

	<div id="game">
		<div v-if="stepGame === 'login'">
			<h2>Имя пользователя 1</h2>
			<p>(--{{username1}}--)</p>
			<input v-model="username1">

			<h2>Имя пользователя 2</h2>
			<p>(--{{username2}}--)</p>
			<input v-model="username2"><br>
			<input v-model="isWishComp" type="checkbox" id="isWishComp">
			<label for="isWishComp">Игра с компьютером</label><br>

			<h2>Размер поля</h2>
			<input type="number" v-model="cols" placeholder="Ширина"><br>
			<input type="number" v-model="rows" placeholder="Высота"><br>
			<p>Поле {{cols}} на {{rows}}</p>

			<h2>Условие выигрыша</h2>
			<p>Клеток подряд, необходимых для выигрыша</p>
			<input type="number" v-model="numberInLine" placeholder="Клетки"><br>

			<button v-on:click="loginGo">Играть</button>
		</div>
		<div v-if="stepGame === 'game'">
			<h1>Великое противостояние игроков {{username1}} и {{username2}}.</h1>
			<h2>В самой жестокой игре на выживание КРЕСТИКИ-НОЛИКИ!</h2>
			<h3>Ход могучего игрока
				<span v-if="stepUser1" class="player1">{{username1}}</span>
				<span v-if="!stepUser1" class="player2">{{username2}}</span>
			</h3>
			<div class="area">
				<area-row v-for="row in area" v-bind:row="row" :key="row.id"></area-row>
			</div>
		</div>
		<div v-if="stepGame === 'win'">
			<h1>Великое противостояние игроков {{username1}} и {{username2}}.</h1>
			<h2>В самой жестокой игре на выживание КРЕСТИКИ-НОЛИКИ!</h2>
			<h3>Выиграл могучий игрок
				<span v-if="win === 1" class="player1">{{username1}}</span>
				<span v-if="win === 2" class="player2">{{username2}}</span>
			</h3>
		</div>
	</div>

</body>
</html>